#body {
    background-color: #f65;
    background-image: url('photoes/Font - Trees - Head.png');
    
}

/* Format for Language Panel*/
#langpanel {
    list-style-type: none; /*убираем  маркеры из списка*/
    text-align: right; /*положение текста*/
    text-decoration: none; /*убираем подчеркивание в ссылках*/
}
#langpanel li {
    display: inline; /*отображение элементов списка в линию*/
}

/* Format for Main Menu*/

#menu li:hover ul { 
    display: block;
}

#menu {
    text-align: center;
    height: 30px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}

#lev1, #lev2, #subitems {
    list-style-type: none;
}

#subitems {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    padding: 0pt;
    list-style-type: none;
}

#lev1 {
    display: inline;
    float: center;
    background-color: aqua;
    position: relative;
    padding-left: 50pt;
    padding-right: 50pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    margin-left: 10pt;
    margin-right: 10pt;
    margin-top: 105pt;
}

#lev1 a, #lev2 a {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    height: 100%;
    
}

#lev2 {
    display: block;
    text-decoration: solid;
    background-color: #f90;
    position: relative;
    top: 100%;
    height: 100%;
    margin-top: 45pt;
   
}
